body {
	font-family: 'Amatic SC', cursive;
}

main {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.begin {
	font-size: 15px;
	color: gray;
}

.title-and-header {
	text-align: center;
}

h4 {
	font-size: 30px;
}

.wins {
	margin-top: 50px;
}

.footer-image {
	position: relative;
	bottom: 0px;
	width: 100%;
}